force-app/main/default/flows/NIS2_Incident_OnCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>controlla che i dati sul incident siano settati per permettere poi quanto segue</description>
        <name>CHECK_DATA</name>
        <label>CHECK_DATA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dati_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputIncident.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ncident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputIncident.Aware_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputIncident.Related_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_TRIAGE_TASK</targetReference>
            </connector>
            <label>dati ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_notifica_trovato</name>
        <label>Task notifica trovato?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CRE_Task_Notifica_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_task_notifica_trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GET_TRIAGE_TASK</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>aggiorna_Task_Notifica</targetReference>
            </connector>
            <label>si task notifica trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triage_Trovato</name>
        <label>Triage Trovato?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CREA_TRIAGE_TASK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_triage_trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_TRIAGE_TASK</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>aggiorna_Task_Triage</targetReference>
            </connector>
            <label>Si triage trovato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frNotificaDate</name>
        <dataType>DateTime</dataType>
        <expression>{!varInputIncident.Aware_At__c}+1/24*72</expression>
    </formulas>
    <interviewLabel>NIS2_Incident_OnCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIS2_Incident_OnCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRE_Task_Notifica_Incident</name>
        <label>CRE_Task_Notifica_Incident</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UPD_INCIDENT_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>frNotificaDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Notifica incidente!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREA_TRIAGE_TASK</name>
        <label>CRE_Task_Triage_Incident</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UPD_INCIDENT</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varInputIncident.Aware_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Triage incidente!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_GET_TRIAGE_TASK</name>
        <label>GET_NOTIF_TASK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_notifica_trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputIncident.IncidentTask2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_TRIAGE_TASK</name>
        <label>GET_TRIAGE_TASK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Triage_Trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputIncident.IncidentTask1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>aggiorna_Task_Notifica</name>
        <label>aggiorna Task Notifica</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_GET_TRIAGE_TASK.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>frNotificaDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Notifica incidente!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>aggiorna_Task_Triage</name>
        <label>aggiorna Task Triage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_GET_TRIAGE_TASK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_TRIAGE_TASK.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varInputIncident.Aware_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Triage incidente!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_INCIDENT</name>
        <label>UPD_INCIDENT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_GET_TRIAGE_TASK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IncidentTask1__c</field>
            <value>
                <elementReference>CREA_TRIAGE_TASK</elementReference>
            </value>
        </inputAssignments>
        <object>NIS2_Register__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_INCIDENT_2</name>
        <label>UPD_INCIDENT_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputIncident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IncidentTask2__c</field>
            <value>
                <elementReference>CRE_Task_Notifica_Incident</elementReference>
            </value>
        </inputAssignments>
        <object>NIS2_Register__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CHECK_DATA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputIncident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NIS2_Register__c</objectType>
    </variables>
    <variables>
        <name>varTaskTriage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
